@model TrangQuanLy.Models.HoaDonViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "_Footer-Header";
}
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary rounded h-100 p-4">
        <h5 class="mb-4">Cập nhật đơn hàng</h5>
        <form asp-action="Edit" method="post" enctype="multipart/form-data" asp-route-id="@Model.MaHD">
            <div class="form-content">
                <div class="form-fields">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="MaHD" />

                    <div class="form-group">
                        <label asp-for="MaKH" class="control-label">Mã khách hàng</label>
                        <input asp-for="MaKH" class="form-control" readonly />
                        <span asp-validation-for="MaKH" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="HoTen" class="control-label">Họ Tên</label>
                        <input asp-for="HoTen" class="form-control" />
                        <span asp-validation-for="HoTen" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DienThoai" class="control-label">Điện Thoại</label>
                        <input asp-for="DienThoai" class="form-control" />
                        <span asp-validation-for="DienThoai" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="NgayDat" class="control-label">Ngày đặt</label>
                        <input asp-for="NgayDat" class="form-control" />
                        <span asp-validation-for="NgayDat" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="DiaChi" class="control-label">Địa chỉ</label>
                        <input asp-for="DiaChi" class="form-control" />
                        <span asp-validation-for="DiaChi" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="CachThanhToan" class="control-label">Cách thanh toán</label>
                        <input asp-for="CachThanhToan" class="form-control" />
                        <span asp-validation-for="CachThanhToan" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="CachVanChuyen" class="control-label">Cách vận chuyển</label>
                        <input asp-for="CachVanChuyen" class="form-control" />
                        <span asp-validation-for="CachVanChuyen" class="text-danger"></span>
                    </div>

@*                     <div class="form-group">
                        <label asp-for="PhiVanChuyen" class="control-label">Phí vận chuyển</label>
                        <input asp-for="PhiVanChuyen" class="form-control" />
                        <span asp-validation-for="PhiVanChuyen" class="text-danger"></span>
                    </div>   *@      
                    <td style="color: white;">
                        <select asp-for="@Model.MaTrangThai" class="form-select form-select-sm mb-3" aria-label=".form-select-sm example" data-original-value="@Model.MaTrangThai" >
                            @await Component.InvokeAsync("TrangThaiHd", new { maTrangThai = Model.MaTrangThai })
                        </select>
                    </td>

                    <div class="form-floating">
                        <textarea asp-for="GhiChu" class="form-control" placeholder="Leave a comment here" id="floatingTextarea" style="height: 150px;"></textarea>
                        <label for="floatingTextarea">Ghi chú</label>
                    </div>

                </div>
                <div class="col-md-5 order-details">
                    <div class="section-title text-center">
                        <h3 class="title">Chi Tiết Hóa Đơn</h3>
                    </div>
                    <div class="order-summary">
                        <div class="order-col">
                            <div><strong>Sản Phẩm</strong></div>
                            <div><strong>Đơn giá</strong></div>
                        </div>
                        <div class="order-products">
                            @foreach (var chiTiet in Model.ChiTietHds)
                            {
                                <div class="order-col">
                                    <div>@chiTiet.SoLuong x @chiTiet.TenHangHoa</div>
                                    <div style="color:red">@String.Format("{0:0}$", chiTiet.DonGia * chiTiet.SoLuong)</div>
                                </div>
                                <img src="~/Hinh/Hinh/HangHoa/@chiTiet.MaHH/@chiTiet.FirstImageUrl" alt="@chiTiet.TenHangHoa" style="width:80px;height:80px">
                            }
                        </div>

                        <div class="order-col" style="border-top:1px solid #fff;border-bottom:none;margin-top:10px">
                            <div><strong>Phí vận chuyển</strong></div>
                            <div style="color:wheat">@String.Format("{0:0}$", Model.PhiVanChuyen)</div>
                        </div>

                        <!-- Calculate the updated total -->
                        <div class="order-col">
                            <div><strong>Tổng cộng</strong></div>
                            <div>
                                <strong class="order-total">
                                    @String.Format("{0:0}$", Model.ChiTietHds.Sum(c => c.DonGia * c.SoLuong) + Model.PhiVanChuyen)
                                </strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group submit-button">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <a asp-action="Index" class="close-button">X</a>
</div>
