@model IEnumerable<TrangQuanLy.Models.HoaDonViewModel>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaHD)
        </td>
       @*  <td>
            @Html.DisplayFor(modelItem => item.MaKH)
        </td> *@
        <td>
            @Html.DisplayFor(modelItem => item.HoTen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DienThoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaChi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayDat)
        </td>
        <td>
            <select asp-for="@item.MaTrangThai" class="form-select form-select-sm mb-3" aria-label=".form-select-sm example" data-original-value="@item.MaTrangThai" id="selectTrangThai-@item.MaHD">
                @await Component.InvokeAsync("TrangThaiHd", new { maTrangThai = item.MaTrangThai })
            </select>
        </td>
        <td style="display:flex;align-items: center; color:white; margin-bottom:-0.5px;">
            <form method="get" style="margin-right:5px" action="@Url.Action("Edit", new { id = item.MaHD })">
                <input type="hidden" name="returnUrl" value="@Context.Request.Path@Context.Request.QueryString" />
                <button type="submit" class="btn btn-outline-info m-2">
                    <i class="bi bi-pencil-square"></i>
                </button>
            </form>

            <form id="delete-form" style="margin-right:5px" asp-controller="Home" method="post" asp-action="Delete">
                <input type="hidden" name="MaHD" value="@item.MaHD" />
                <input type="hidden" name="returnUrl" value="@Context.Request.Path@Context.Request.QueryString" />
                <button type="submit" class="btn btn-outline-info m-2">
                    <i class="bi bi-trash"></i>
                </button>
            </form>
        </td>
    </tr>
}
@section Scripts {
    @{
    }
}