@model IEnumerable<TDProjectMVC.ViewModels.CartItem>
@{
    ViewData["Title"] = "Minicart";
}
<div class="dropdown open">
    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
        <i class="fa fa-shopping-cart"></i>
        <span>Your Cart</span>
        <div class="qty">3</div>
    </a>
    <div class="cart-dropdown">
        <div class="cart-list">
            @foreach (var item in Model)
            {
                <div class="product-widget">
                    @{
                        string firstImageUrl = string.Empty;
                        if (!string.IsNullOrEmpty(item.Hinh))
                        {
                            var imageUrls = item.Hinh.Split(',');
                            firstImageUrl = imageUrls.FirstOrDefault();
                        }
                    }
                    <div class="product-img">
                        @if (!string.IsNullOrEmpty(firstImageUrl))
                        {
                            <img src="~/Hinh/Hinh/HangHoa/@item.MaHH/@firstImageUrl" class="img-fluid me-5 rounded-circle" style="width: 60px; height: 60px;" alt="@item.TenHH">
                        }
                        else
                        {
                            <img src="~/Hinh/Hinh/HangHoa/@item.MaHH/image.jpg" alt="Default Image" style="width:100%;height:300px">
                        }
                    </div>
                    <div class="product-body">
                        <h3 class="product-name" style="display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden; text-overflow: ellipsis;">
                            <a asp-action="Detail" asp-controller="Product" asp-route-id="@item.MaHH">@item.TenHH</a>
                        </h3>
                        <h4 class="product-price"><span class="qty">@item.SoLuong</span>@item.DonGia.ToString("#,##0 VNĐ")</h4>
                    </div>
                    <button class="delete"><i class="fa fa-close"></i></button>
                </div>
            }
        </div>
        <div class="cart-summary">
            <small>@Model.Count() Item(s) selected</small>
            <h5>SUBTOTAL: $ @Model.Sum(p => p.ThanhTien)</h5>
        </div>
        <div class="cart-btns">
            <a href="#">View Cart</a>
            <a href="#">Checkout  <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div>
<h1 style="position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);">
    Đặt Hàng thành công
</h1>
<a asp-action="Index" class="primary-btn order-submit" style="position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);">Tiếp tục mua hàng</a>
