@model IEnumerable<TDProjectMVC.ViewModels.HangHoaVM>

@foreach (var item in Model.Take(3))
{
	<div class="col-md-4 col-xs-6">
		<div class="product">
			<a asp-action="Detail" asp-controller="Product" asp-route-id="@item.MaHH">
				<div class="product-img">
					<img id="productImage" src="~/Hinh/Hinh/HangHoa/@item.Hinh" style="width:100%;height:300px">
					<div class="product-label">
						<span class="sale">-@item.GiamGia%</span>
						@{
							DateTime ngaySanXuat = @item.NgaySX;
							DateTime ngayHienTai = DateTime.Now;
							TimeSpan khoangCachNgay = ngayHienTai - ngaySanXuat;
						}
						@if (khoangCachNgay.TotalDays < 90)
						{
							<span class="new">New</span>
						}
					</div>
				</div>
				<div class="product-body">
					<p class="product-category">@item.TenLoai</p>
					<h3 class="product-name">
						<a asp-action="Detail" asp-controller="Product" asp-route-id="@item.MaHH">@item.TenHH</a>
					</h3>
					<h4 class="product-price">
						@item.DonGia.ToString("#,##0 VNĐ")&nbsp                     <del class="product-old-price">
							@((item.DonGia * (100 + item.GiamGia) / 100).ToString("#,##0 VNĐ"))
						</del>
					</h4>
					<div class="product-rating">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</div>
					<div class="product-btns">
						<button class="add-to-wishlist">
							<a href="#" onclick="addToWishlist('@item.MaHH'); return false;">
								<i class="fa fa-heart-o"></i> ADD TO WISHLIST
							</a>
						</button>
						<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
						<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
					</div>
				</div>
			</a>
			<div class="add-to-cart">
				<button type="button" class="add-to-cart-btn" onclick="addToCart(@item.MaHH, 1, 'Normal')">
					<i class="fa fa-shopping-cart"></i> Add to cart
				</button>
			</div>
		</div>
	</div>
	<div class="clearfix visible-sm visible-xs"></div>
}
</div>
@section scripts {

}