@model IEnumerable<TrangQuanLy.Models.HangSpViewMD>

<body>
    @foreach (var item in Model)
    {

        <tr>
            <td><input class="form-check-input" type="checkbox"></td>
            <td style="color: white;">
                @Html.DisplayFor(modelItem => item.MaNCC)
            </td>
            <td style="color: white;">
                @Html.DisplayFor(modelItem => item.TenCongTy)
            </td>
            <td style="color: white;">
                @Html.DisplayFor(modelItem => item.Mota)
            </td>
            <td style="color: white;">
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td style="color: white;">
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td style="color: white;">
                @Html.DisplayFor(modelItem => item.NguoiLienLac)
            </td>
            <td style="color: white;">
                @Html.DisplayFor(modelItem => item.DienThoai)
            </td>
            <td style="color: white;">
                <img src="~/Hinh/Hinh/NhaCC/@item.Logo" alt="@item.Logo" style="width:50px;height:50px;" />
            </td>
            <td style="display:flex;align-items: center; color:white">
                <form method="get" style="margin-right:5px" action="@Url.Action("Edit", new { id = item.MaNCC })">
                    <button type="submit" class="btn btn-outline-info m-2">Sửa</button>
                </form>
                |
                <form id="delete-form" style="margin-right:5px" method="post" asp-action="Delete" asp-route-MaNcc="@item.MaNCC">
                    <button type="submit" class="btn btn-outline-info m-2">Delete</button>
                </form>
            </td>
        </tr>
    }
</body>