@model IEnumerable<TDProjectMVC.ViewModels.HangHoaVM>
@{
    var topThreeProducts = Model.OrderByDescending(item => item.DiemDanhGia).Take(3);
}
@foreach (var item in topThreeProducts)
	{
    <div class="product-widget">
        <a asp-action="Detail" asp-controller="Product" asp-route-id="@item.MaHH">
            <div class="product-img">
                @{
                    string firstImageUrl = string.Empty;
                    if (!string.IsNullOrEmpty(item.Hinh))
                    {
                        var imageUrls = item.Hinh.Split(',');
                        firstImageUrl = imageUrls.FirstOrDefault();
                    }
                }

                @if (!string.IsNullOrEmpty(firstImageUrl))
                {
                    <img src="~/Hinh/Hinh/HangHoa/@item.MaHH/@firstImageUrl" alt="@item.TenHH">
                }
                else
                {
                    <img src="~/Hinh/Hinh/HangHoa/@item.MaHH/image.jpg" alt="Default Image">
                }
            </div>
            <div class="product-body">
                <p class="product-category">@item.TenLoai</p>
                <h3 class="product-name">
                    <a asp-action="Detail" asp-controller="Product" asp-route-id="@item.MaHH" style="display: inline-block; white-space: nowrap; overflow: hidden;text-overflow: ellipsis; max-width: 100%;">@item.TenHH</a>
                </h3>
                <h4 class="product-price">@item.DonGia.ToString("#,##0 VNĐ")&nbsp</h4>
            </div>
        </a>
    </div>
	}
