@model IEnumerable<TDProjectMVC.ViewModels.HangHoaVM>
@{
	var topThreeProducts = Model.OrderByDescending(item => item.DonGia).Take(3);
}
@foreach (var item in topThreeProducts)
	{
	<div class="product-widget">
		<div class="product-img">
            @{
                string firstImageUrl = string.Empty;
                if (!string.IsNullOrEmpty(item.Hinh))
                {
                    var imageUrls = item.Hinh.Split(',');
                    firstImageUrl = imageUrls.FirstOrDefault();
                }
            }

            @if (!string.IsNullOrEmpty(firstImageUrl))
            {
                <img src="~/Hinh/Hinh/HangHoa/@item.MaHH/@firstImageUrl" alt="@item.TenHH" style="width:100%;height:300px">
            }
            else
            {
                <img src="~/Hinh/Hinh/HangHoa/@item.MaHH/image.jpg" alt="Default Image" style="width:100%;height:300px">
            }
		</div>
		<div class="product-body">
			<p class="product-category">@item.TenLoai</p>
			<h3 class="product-name"><a asp-action="Detail" asp-controller="Product" asp-route-id="@item.MaHH">@item.TenHH</a></h3>
			<h4 class="product-price">@item.DonGia.ToString("#,##0 VNĐ")</h4>
		</div>
	</div>
	}